/* Larger devices */

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* * to remove all the browser default setting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}


body{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
h1 {
  font-size: 36px;
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-bottom: 25px;
  }




/* Start of Home landing page */

/* stop page from scretching */
.container{
  /* width: 85%;
  margin: auto; */
  max-width: 1080px;
  width:100%;
  margin: 0 auto;
}

section{
 min-height: 100vh;
 background-color: rgb(142, 161, 179);
}

/* navigation  */
nav{
  height: 80px;
}
nav h1{
  float: left;
  line-height: 80px;
  font-size: 35px;
  color:#e3dad4;
  display: inline;
  font-weight: 700;

}
nav ul{
  float: right;
  line-height: 80px;
}
nav ul li{
  display: inline-block;
  padding:0 5px;
}

nav ul li a{
  color:#fff;
  background-color:rgb(81, 81, 247);
  border-radius: 5px;
  padding: 7px 8px;
  transition: background-color 0.5s ease;
  }
/* Added hover effect when user hover the menu links to change colors */
  nav ul li a:hover{
    background-color: #eb7620;
  }

  nav ul li .active{
    background-color: #e3dad4;
    font-weight: 700;
  
    }
  
 
 .game-rules, .game-place{
    width: 50%;
    margin: auto;
    text-align: center;
  }



    .game-rules h2{
      margin: 10px 20px;
      font-size: 25px;
      color: #fff;
    }

    .game-rules p{
      font-size: 18px;
      color: #2c0685;;
      letter-spacing: 1.5px;
      font-weight: 700;
      margin-bottom: 30px;
      }
    
      .game-rules .btn{
        color: #fff;
        padding: 12px 25px;
        letter-spacing: 1.5px;
        background-color: rgb(81, 81, 247);
        width:50%;
         margin:auto;
        text-align: center;
      }
    
      .game-rules .btn:hover{
        background-color: #eb7620;
      }
    
/*  End of Home landing page */

/*  game page start here */
.choices {
  margin-bottom: 30px;
}

.choices button{
  font-size: 6rem;
  margin: 0 10px;
  border-radius: 200px;
  background-color: blue;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

/* hover effect to show user which button they are to select */
.choices button:hover {
  background-color: rgb(107, 120, 120);
}

#computerDisplay,
#playerDisplay,
#resultDisplay {
  font-size: 20px;
}

#resultDisplay {
  margin: 30px 0;
}

.Scores{
  font-size: 30px;
}

/* change  the result outcome message colors */
.winText, #playerScores{
  color: green;
  }

  .loseText, #computerScores {
    color: red;
  }

  #reset-btn{
    padding: 10px 20px;
    margin: 20px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color: blue;
    color: azure;
    font-size: 1.5rem;
  }
/* added hover affect to change color once user hover on restart button */
  #reset-btn:hover{
    background-color: rgb(107, 120, 120);
  }
  
/*  End of game  page */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

  img{
    width: 150%;
    height: 150%;
    padding-right: 50px;
    margin: auto;
  }

  .choices button{
    font-size: 3rem;
    margin: 0 5px;
  }

  .game-rules .btn{
    width:50%;
    margin:auto;
    text-align: center;
  
  }

  .game-rules h2{
    margin: 10px;
  }
  
}
@media only screen and (min-width: 600px) {
  img{
    width: 100%;
   
  }


}